#compareValuesTable .ant-table-thead{
    display: none;
}

#compareValuesTable td:nth-child(2) {
    background-color: #D2EAE2;
}

#compareValuesTable td:nth-child(3) {
    background-color: #BFC5F3;
}
